.jumbotron {
    margin-bottom: 0;
    color: #282727;
    background-color:#ADD8E6 ;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-pills {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 50px;
    color: #282727;
    background-color:#EDEAEA ;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

body {
    background-color: #ADD8E6;
}

h1 {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.display-3 {
    font-size: 50px;
    font-weight: 500;
}

#myBtn {
    text-align: center;
    display: block;
    bottom: 10px;
    margin: 0 auto;
    width: 10%;
}

#citations {
    font-size: 10px;
}

#butlers_pic {
    object-fit: cover;
    height: 100px!important;
    width: 100px!important;
    object-position: top;
}

#butlers_card {
    margin: 0 auto!important;
}

.card-body ul li {
    text-align: left;

}
.card-deck .card {
  max-height: 600px!important;
  margin-top: 15px!important;
  overflow-y: scroll!important;
}

#upasana_pic {
    object-fit: cover;
    height: 100px!important;
    width: 100px!important;
    object-position: top;
}

#upasana_card {
    margin: 0 auto!important;
}


.my-card-img-top {
    width: 50%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

#russell_pic {
    object-fit: cover;
    height: 100px!important;
    width: 100px!important;
    object-position: top;
}

#gerrit_pic {
    object-fit: cover;
    height: 100px!important;
    width: 100px!important;
    object-position: top;
}

#ivonne_pic {
    object-fit: cover;
    height: 100px!important;
    width: 100px!important;
    object-position: top;
}

#russell_card {
    margin: 0 auto!important;
}

#group-stats {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#stats-left {
    float: left;
    margin-right: 90px;
}

#stats-right {
    text-align: left;
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #007bff;
    background-color: #007bff;
  }

  .pagination a.active {
    background-color: #ADD8E6;
    border: 1px solid #ADD8E6;
  }

  .pagination a:hover:not(.active) {background-color: #007bff;}

  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .center {
    text-align: center;
  }
