<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesheet.css')}}">
    </head>

    <body>
        <a name="top" ></a>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-3">Book Binder</h1>
          </div>
        </div>
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('books')}}">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('about')}}">About Us</a>
          </li>
        </ul>

        <section id="about">
          <div class="container text-center">
              <div class="row mb-4">
                <div class="col">
                    <h2>Group Members</h2>
                </div>
              </div>

              <div class="row my-5">

                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <img src="../static/images/gerrit.jpg" alt="Picture of Gerrit" class="img-fluid rounded-circle w-50 mb-3" id="gerrit_pic">
                        <h3>Gerrit Bryan</h3>
                        <p>Designed books, and abook page. Implemented sorting methods and hyperlinks to abook page.  </p>
                        <ul>
                            <li><strong>Number of Commits:</strong> 22</li>
                            <li><strong>Number of Unittests:</strong> N/A</li>
                            <li><strong>Number of Issues:</strong> 4 </li>
                        </ul>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card">
                    <div class="card-body">
               <img src="../static/images/Russell.jpg" alt="Picture of Russell" class="img-fluid rounded-circle w-50 mb-3" id="russell_pic">
                        <h3>Russell Dickerson</h3>
                        <p>Designed the home/splash page, worked on website color design, added back to top button for all pages, made css design for pagination, checked wikipedia and website urls and hyperlinked them from static text.</p>
                        <ul>
                            <li><strong>Number of Commits:</strong> 28 </li>
                            <li><strong>Number of Unittests:</strong> N/A </li>
                            <li><strong>Number of Issues:</strong> 11 </li>
                        </ul>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <img src="../static/images/butler.jpg" alt="Picture of Butler" class="img-fluid rounded-circle w-50 mb-3" id="butlers_pic">
                        <h3>Butler Bourgeois</h3>
                        <h5>Project Leader</h5>
                        <p>Designed the navbar and the About Us page, Implemented backend using Flask, Deployed website on GCP</p>
                        <ul>
                            <li><strong>Number of Commits:</strong> 17</li>
                            <li><strong>Number of Unittests:</strong> N/A</li>
                            <li><strong>Number of Issues:</strong> 4</li>
                        </ul>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <img src="../static/images/upasana.jpg" alt="Picture of Upasana" class="img-fluid rounded-circle w-50 mb-3" id="upasana_pic">
                        <h3>Upasana Nepal</h3>
                        <p>Designed the Authors and Publications page and implemented static data into the pages.</p>
                        <ul>
                            <li><strong>Number of Commits:</strong> 8 </li>
                            <li><strong>Number of Unittests:</strong> N/A </li>
                            <li><strong>Number of Issues:</strong> 4 </li>
                        </ul>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <img src="../static/images/Ivonne.JPG" alt="Picture of Ivonne" class="img-fluid rounded-circle w-50 mb-3" id="ivonne_pic">
                        <h3>Ivonne Martinez</h3>
                        <p>Mainly worked on the Technical Report and the commit log.</p>
                        <ul>
                            <li><strong>Number of Commits:</strong> 7</li>
                            <li><strong>Number of Unittests:</strong> N/A </li>
                            <li><strong>Number of Issues:</strong> 2</li>
                        </ul>
                    </div>
                  </div>
                </div>

              </div>
          </div>

        <div class="container" id="group-stats">
            <div class="card">
                <div class="card-header">
                    Group 2 Stats
                </div>
                <div class="card-body">
                    <div id="stats-left">
                    <ul>
                        <li><strong>Total Commits:</strong> 56</li>
                        <li><strong>Total Issues:</strong> 18</li>
                        <li><strong>Total Unit Tests:</strong> N/A</li>
                        <li><strong>Tools Used:</strong> Python, Flask, Bootstrap, GCP</li>
                    </ul>
                    </div>
                    <div id="stats-right">
                    <ul>
                        <li><strong><a href="https://gitlab.com/bhb658/cs329e-idb/issues">Gitlab Issue Tracker</a></strong></li>
                        <li><strong><a href="https://gitlab.com/bhb658/cs329e-idb/tree/master">Gitlab Repo</a></strong></li>
                        <li><strong><a href="https://gitlab.com/bhb658/cs329e-idb/wikis/home">Gitlab Wiki</a></strong></li>
                        <li><strong><a href="https://www.cs.utexas.edu/users/fares/cs329esummer19/CS%20373_files/tutorials/books.json">Data Source</a></strong></li>
                        <li><strong><a href="https://prezi.com/view/L2q5ShnvGX1SIGQ5QEkY/">Presentation</a></strong></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="container">
          <button class="btn btn-primary" id="myBtn"><a href="#top" style="color: white">Back to top</a></button>
        </div>
        </section>

        <br/>




        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
